.Footer {
  padding-bottom: 124px;
  padding-top: 122px;
  background: #000;
}

.Footer ul {
  list-style-type: none;
}

.Footer ul {
  list-style-type: none;
  text-align: center;
}

.Footer li {
  display: inline-block;
  color: #d5d5d5;
}

.Footer p {
  margin: 0;
  padding: 0;
  color: #d7d7d7;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.Footer span a {
  cursor: pointer;
  color: #ffff00;
}

.Footer span a:hover {
  color: #ffff00;
}

.Footer li a {
  color: #d5d5d5;
  padding: 20px;
  display: block;
  font-size: 13.34px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.Footer__logo {
  text-align: center;
}

.Footer__logo i {
  color: yellow;
  font-size: 50px;
}

.Footer__logo-slogan {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding-top: 20px;
}

.Footer__logo-slogan span {
  color: yellow;
}

.Footer p a {
  padding: 0;
}

.Footer li a:hover {
  color: #ffff00;
  text-decoration: none;
}

.Footer span a:hover {
  color: white;
  text-decoration: underline;
}
