.LoginDropdown {
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.LoginDropdown__loggedOut {
  flex-direction: column;
}

.LoginDropdown__icon {
  cursor: pointer;
  color: #fff;
  font-size: 25px;
}

.LoginDropdown__form {
  position: absolute;
}

.LoginDropdown__hide .LoginDropdown__form {
  display: none;
}

.LoginDropdown__form form {
  padding: 20px;
  background: #00000094;
}

.LoginDropdown__form span {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}

.LoginDropdown__dropdown input {
  hight: 30px;
  font-size: 14px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background: yellow;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  border: none;
  opacity: 1;
  transition: all 2s ease-in-out;
}

input[type="submit"]:hover {
  opacity: 0.5;
}

input[class] {
  height: 40px!important;
  font-size: 12px!important;
}

.LoginDropdown__logout {
  display: inline-block;
  padding-left: 10px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 14px;
}

.LoginDropdown__logout span {
  color: yellow;
  cursor: pointer;
}
