.MedicalTreatmentList {
  padding: 80px 0;
}

.MedicalTreatmentList__title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.MedicalTreatmentList__title:after {
  content: '';
  display: block;
  height: 1px;
  width: 20%;
  background-color: #000;
  margin: 40px auto;
}
