.PatientDetailPage {
  padding: 50px 0;
}

.PatientDetailPage__fullName {
  color: #000;
  margin: 0;
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding-bottom: 18px;
  text-transform: uppercase;
}

.PatientDetailPage__field {
  color: #b0b0b0;
  font-size: 17px;
  line-height: 2;
}
