.Header {
  padding: 30px 0;
  background-size: cover;
  z-index: 100;
  width: 100%;
  position: absolute;
  top: 0;
}

.Header__logo {
  display: flex;
  align-items: center;
}

.Header__logo i {
  color: yellow;
  font-size: 50px;
}

.Header__logo-slogan {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding-left: 20px;
}

.Header__logo-slogan span {
  color: yellow;
}

.Header__internal-pages {
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./images/header-banner.jpg') no-repeat 0 0;
}

.Header__internal-pages:before {
  background: rgba(17, 17, 17, 0.5) none repeat scroll 0 0;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.Header__menu {
  display: inline-block;
  padding: 20px;
}

.Header__menu a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}

.Header__icons {
  float: right;
  color: white;
  padding: 20px 0;
  position: relative;
}

.Header__icons a {
  margin-left: 25px;
}

.Header__icons i {
  font-size: 18px;
  padding-top: 9px;
  color: white;
}

.Header__internal-pages .Header__icons {
  color: #000;
}

.Header__icons i:hover,
.Header__icons--language-switcher li:hover,
.Header__icons--language-switcher__active {
  color: yellow;
}

.Header__icons--social {
  display: inline-block;
}

.Header__icons--language-switcher {
  display: inline-block;
  margin-left: 20px;
}

.Header__icons--language-switcher li {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 5px;
}

.Header__icons--slide-menu {
  cursor: pointer;
}

.Header__icons--slide-menu i {
  font-size: 28px;
  margin-left: 20px;
  float: right;
  margin-top: -5px;
}
