.Header {
  padding: 10px 0;
  background: #000;
  background-size: cover;
  z-index: 100;
  width: 100%;
}

.Header__icons {
  float: right;
  color: white;
  padding: 20px 0;
  position: relative;
}

.Header__icons a {
  margin-left: 25px;
}

.Header__icons i {
  font-size: 18px;
  padding-top: 9px;
  color: white;
}

.Header__icons i:hover,
.Header__icons--language-switcher li:hover,
.Header__icons--language-switcher__active {
  color: yellow;
}

.Header__icons--social {
  display: inline-block;
}

.Header__icons--language-switcher {
  display: inline-block;
  margin-left: 20px;
}

.Header__icons--language-switcher li {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 5px;
}

.Header__icons--slide-menu {
  cursor: pointer;
}

.Header__icons--slide-menu i {
  font-size: 28px;
  margin-left: 20px;
  float: right;
  margin-top: -5px;
}
