.TestimonialList {
  padding: 80px 0;
}

.TestimonialList__title {
  font-size: 74px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 50px;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .TestimonialList {
    padding: 40px 0;
  }

  .TestimonialList__title {
    font-size:40px;
    padding-bottom: 10px;
  }
}
