.MedicalTreatmentListItem {
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.MedicalTreatmentListItem:last-child {
  margin: 0;
}

.MedicalTreatmentListItem__title,
.MedicalTreatmentListItem__title a {
  color: #000;
  margin: 0;
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding-bottom: 18px;
}

.MedicalTreatmentListItem__content {
  color: #b0b0b0;
  font-size: 17px;
  line-height: 2;
}

.MedicalTreatmentListItem__links {
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.MedicalTreatmentListItem__links:last-child {
  padding-left: 0;
}

.MedicalTreatmentListItem__links--item {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
  text-align: right;
  padding-left: 5px;
}

.MedicalTreatmentListItem__links--item span {
  display: inline-block;
  width: 220px;
  text-align: center;
  background: #000;
  color: yellow;
  padding: 10px 0;
}

.MedicalTreatmentListItem__links--item:hover span {
  color: #fff;
}

.MedicalTreatmentListItem__cost {
  padding: 10px 0;
  font-weight: bold;
}

.MedicalTreatmentListItem__date-added {
  text-align: right;
  font-weight: bold;
  padding: 10px 0;
}
